{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<nav role="subnav" class="span4" data-transitional="header" data-transitional-id="{% block subnav_id %}about{% endblock subnav_id %}">
				{% block subnav %}
				<ul class="nav nav-list">
					<li class="nav-header">Subsections</li>
					<li class="active"><a href="/about/1" title="About 1" data-history="true">About 1</a></li>
					<li><a href="/about/2" title="About 2" data-history="true">About 2</a></li>
				</ul>
				{% endblock subnav %}
			</nav>

			<div class="content span7 offset1">
				<h1>ABOUT</h1>
			</div>
		</div>
	</div>
{% endblock content %}
