{% extends "base.html" %}

{% block title %}Overview{% endblock title %}

{% block page_class %}overview{% endblock page_class %}

{% block content %}

	<h1 class="title"><strong>/Overview/</strong>HTML5 History API</h1>
	<p class="lead">Front-end developer <i>Christian Shum-Harden</i> of <a href="http://ff0000.com">RED Interactive Agency</a> demonstrates some best practices and strategies when preparing to use the  HTML5 History API.</p>

	<div class="tutorial">
		<table class="requirements table table-striped table-condensed">
			<thead></thead>
			<tbody>
				<tr>
					<td>Knowledge Needed</td>
					<td>HTML, JavaScript</td>
				</tr>
				<tr>
					<td>Requires</td>
					<td>Text editor, modern web browser, local webserver</td>
				</tr>
				<tr>
					<td>Project Time</td>
					<td>1 hour</td>
				</tr>
			</tbody>
		</table>

		<p>
			<strong>
				The HTML5 History API is a handful of browser methods and events that enable us to manipulate the browser location and <b>history</b> without triggering a page refresh.
				The <b>pushState</b> approach combines front-end JavaScript and the HTML5 History API to override the browser's default navigation routine in order to manually manage page-state.
			</strong>
		</p>

		<p>
			When we navigate from one URL to another, we expect our browser to replace the current document with a new document.

			The History API is really small; at its core <b>history.pushState</b> updates the browser's location-bar and <b>window.onpopstate</b> informs us when the history changes.
			Try it out by running the following code in your browser's JavaScript console.
<pre>
window.addEventListener("popstate", function(e) { // listen for changes
	console.log(e); // history changed
});

history.pushState({ foo: "bar"}, "Example Title", "/i/just/changed/the/location"); // request a location change
</pre>
			<b>history.pushState</b> updates the location-bar. <b>Nothing. Else. Happens.</b>
			No browser refresh. (yay!)
			No logged event (hmm...)
			No URL is fetched or document loaded. ()
			Now hit your browser's BACK button.


		</p>

		<p>
			Locate and display the contents of a URL.

			It's really the core function of a browser right?
			The History API drops that responsibility in our lap
			Overriding this behavior doesn't mean
			URLs are the fabric of the internet so we'll want to think critically about our approach and goals for overriding years of browser routine and experience.
		</p>

		<p>

			This tutorial aims to and provide a thoughtful <b>pushState</b> approach and examine factors that affect
			that's flexible for your project needs and adaptive to your user's needs.

			; to do so we will:
			<ul>
				<li>Study URL design and the affectiveness of a traditional web architecure and why it matters for <b>pushState</b>.</li>
				<li>Discuss the tradeoffs of polyfilling or normalizing support across varying browser History API implementations.</li>
				<li>Develop a simple <b>pushState</b> JavaScript solution to manage incoming and outgoing URL requests.</li>
				<li>Analyize some animation techniques when transitioning between page states.</li>
				<li>Discuss the measured and percieved advantages of <b>pushState</b> load-time optimization.</li>
			</ul>
		</p>
		<p>
			If you'd prefer to slam your way through <b>pushState</b>, then have a look at the <a href="https://github.com/browserstate/ajaxify/blob/master/ajaxify-html5.js">ajaxify-html5.js</a> script that "ajaxifies your entire website instantly".
			Ajaxify "hijacks" your site's anchors with <b>pushState</b> in order to ajax-load and cross-fade between page requests.
			It showcases some valuable solutions for parsing document titles, handling incoming CSS and JavaScript resources, and selecting other tricky markup blocks.
			<figure>
				<img src="{{ STATIC_URL }}img/didnt-read.jpg" alt="LOL Didn't read">
				<figcaption class="muted">
					The Ajaxify script is actually a great crash course in brute-forcing the History API into your site.  Milage may vary.
				</figcaption>
			</figure>
		</p>

		<p>
			Since you're still here, let's get started!
			You can download the example site at <a href="https://github.com/potench/history-api-tutorial/archive/gh-pages.zip">http://bit.ly/107wM2S</a> unzip it and serve it on your local webserver.
			Our example site is acutally this tutorial in an HTML stack.
			You can follow the tutorial AND view the source code that we're discussing in once place!
			<figure>
				<img src="{{ STATIC_URL }}img/unzip.jpg" alt="Example folder structure">
				<figcaption class="muted">
					Our static website example uses Twitter's bootstrap, jQuery, jQuery transit, and history.js.
				</figcaption>
			</figure>
		</p>

		<aside class="well">
			<p>
				You might notice that the root of our <a href="https://github.com/potench/history-api-tutorial/">example site GitHub repo</a> is using a Node based static website generator called <a href="http://github.com/ff0000/statix">Statix</a>.
				This tutorial prioritizes flexibility and encourages creating opportunities for later iterative improvement.
				While we won't be using the Statix code at all in this tutorial, it's worth mentioning that we can later replace Statix with a Django/python CMS implementation without much impact on our example site!
				Remember this when we're prioritizing flexibile solutions that favor server-side optimization later in the tutorial.
			</p>
		</aside>
	</div>

{% endblock content %}



<p>
			Let's take a quick look at these methods before
			To change the browser location, run the following code in your browser's JavaScript console:
			Mozilla's <a href="https://developer.mozilla.org/en-US/docs/DOM/window.history" target="_blank">window.history</a> reference is the most complete and conclussive developer documentation on the HTML5 History API.
<pre>
history.pushState(
	{ foo: "bar"},  // a data object that becomes window.state.data
	"Example Title",
	"/i/just/changed/the/location"
);
</pre>

		</p>
