{% extends "base.html" %}

{% block title %}Resources{% endblock title %}

{% block page_class %}resources{% endblock page_class %}

{% block content %}
	<h1 class="title"><strong>/Resources/</strong></h1>
	<p class="lead">Further reading and next steps</p>

	<div class="tutorial">
		<h3>What's next?</h3>
		<p>
			This <b>History API</b> is an incredibly broad subject and we've only just scratched the surface.
			We still need to cover:
			<ul>
				<li>Routing and garbage collection in JavaScript classes</li>
				<li></li>
			</ul>
			In the next tutorial we'll use server-side scripting
		</p>
	</div>
{% endblock content %}
